body{
    --theme-color: #122f47;
    --icon-txtcolor: #666666;
    --clr-black: #000000; 
    --clr-white: #ffffff; 
    --txt-color: #1a1a1a;
    --brdr-color: #e6e9ee;
    --title-color:#162f4b;
    --link-title-color: #0b7d76;
    --search-color: #f1f3f6;
    --accord-bg-clr:#daf2ef;
    --head-title-clr:#444444;
    --head-btn-bdr-clr:#003b52;
    --bg-color:#f7f9fb;
    --error-txt-color: #ab0b0b;
    --popup-title-bg-color:#eefcfa;
    --svg-color: #005c81;
    --btn-backgroundFocus: #d9d9d9;
    --transition: 0.3s; 
    --font-body-size: 12px; 
    --font-body-weight: 400; 
    --font-weight-normal: 500;
    --font-weight-medium:600; 
    --font-weight-bold: 700; 
    --font-body-lineheight: 22px; 
    --btn-gradient: linear-gradient(94.76deg, #005C81 0.57%, #122F47 95%);
    --btn-white-gradient: linear-gradient(#ffffff, #ffffff);
    --menu-box-shdw:0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    --accord-box-shdw:0px 4px 10px 0px rgba(0, 0, 0, 0.15);
    --header-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.06);
}