.searchInputClass {
  background-color: black;
}

.aiTab {
  position: relative;
  border: 1px solid #d2d2d2 !important;
  background-color: #efefef !important;
  font-size: 12px !important;
  font-weight: 600;
  color: #666 !important;
  height: 30px;

  &:first-of-type {
    border-radius: 5px 0 0 5px;
  }
  &:last-of-type {
    border-radius: 0 5px 5px 0;
  }
  & + & {
    border-left-width: 0;
  }

  &[data-active] {
    z-index: 1;
    background: linear-gradient(157.6deg, #005c81 14.59%, #122f47 94.33%);
    border-color: transparent !important;
    color: #fff !important;
  }
}
