@yagnitechdev:registry=https://gitlab.com/api/v4/packages/npm/
//gitlab.com/api/v4/packages/npm/:_authToken=w8dUp9cEhdjHR94FgXxt
//gitlab.com/api/v4/projects/24274953/packages/npm/:_authToken=w8dUp9cEhdjHR94FgXxt
//gitlab.com/api/v4/projects/25078965/packages/npm/:_authToken=w8dUp9cEhdjHR94FgXxt
//gitlab.com/api/v4/projects/23590114/packages/npm/:_authToken=w8dUp9cEhdjHR94FgXxt